<div class="swt-form">
  <%= form_tag do %>
  <fix eldset>
	<legend>Please log in</legend>
	<div>
	  <label for="account_name">Account Name</label>
	  <%= text_field_tag :account_name, params[:account_name] %>
	</div>

	<div>
	  <label for="password">Password</label>
	  <%= password_field_tag :password, params[:password] %>
	</div>
	
	<div>
	  <%= submit_tag "Login" %>
	</div>
  </fieldset>
  <% end %>
</div>
